$def with (pagedata={})
$code:
    #营销人员查看自己的二维码和推广统计数据
    static_host = pagedata.get('static_host','')
    FSOBJ = pagedata.get('FSOBJ')
    MDLST = pagedata.get('MDLST')
    random_value = pagedata.get('r','')
    signPackage = pagedata.get('signPackage',{})

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta name="author" content="LiuLijuan" />
    <meta name="keywords" content="有奖问卷 调查问卷" />
    <meta name="description" content="做最专业的有奖问卷调查系统" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>我的推广信息</title>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="$static_host/static/css/style-metro.min.css" rel="stylesheet" type="text/css"/>
    <link href="$static_host/static/css/style.min.css" rel="stylesheet" type="text/css"/>
    <link href="$static_host/static/uniform/css/uniform.default.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="$static_host/static/weui/weui.qs.min.css"/>
    <link rel="stylesheet" href="$static_host/static/weui/example.css"/>
    <style type="text/css">
    /*修改一点weui原本的css*/
    .weui-cells__title {color: #666;font-size: 16px;}
    .weui-cells__tips {font-size: 14px;}
    .weui-toast {width: 70%;left: 15%;margin-left:0px;border-radius: 5px !important;}
    .weui-icon_toast:before {color: #fff;font-size: 55px}
    .weui-dialog {border-radius: 5px !important;}
    .edit {position: absolute;right: 0px;margin-top: -40px;}
    button {border-radius: 5px !important;}
    a {text-decoration: none !important;}
    body {font-size: 16px;}
    label {font-size: 16px;}
    .btn {font-size: 16px; padding: 10px 14px;}
    .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {font-size: 16px;}
    .dropdown-menu li > a {padding: 14px 0 14px 13px;}
    </style>
</head>
<body>
    <div class="page">
        <div class="page__bd">
            $if pagedata['HTTP_USER_AGENT'].find('MicroMessenger')<0:
                <div class="weui-tab">
                    <div class="weui-navbar">
                        <div class="weui-navbar__item weui-bar__item_on">
                            我的推广信息
                        </div>
                    </div>
                    <div class="weui-tab__panel">

                    </div>
                </div>
            $if pagedata.get('tipmsg'):
                <div class="weui-cells__tips" style="text-align:center;">$pagedata.get('tipmsg','')</div>
            $if pagedata.get('SALQR'):
                <div style="text-align:center;">
                    以下是您的专属推广二维码<br>请拿这个二维码让别人扫描<br>
                    <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=$pagedata.get('SALQR','')" style="width:50%;">
                </div>
            $else:
                <div class="weui-cells__tips" style="text-align:center;">加载您的身份二维码时遇到问题，请稍后再来试一下</div>
            <br>
            <div class="accordion" id="accordion1">
                $for mditem in MDLST:
                    <div class="accordion-group" id="group_$mditem.MD_ID">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_$mditem.MD_ID" style="padding-right: 40px;">
                            <i class="icon-yen"></i> $get_yyyy_mm_dd(mditem.YYYYMMDD) 合计: $(mditem.MONEY_D1+mditem.MONEY_D2)元($('已发放' if mditem.STATUS==1 else '待发放'))
                            </a>
                        </div>
                        <div id="collapse_$mditem.MD_ID" class="accordion-body collapse">
                            <div class="accordion-inner">
                                直接粉：$mditem.COUNT_D1个。统计日期：$get_yyyy_mm_dd(mditem.DATE_D1)。回报：$format_money(mditem.MONEY_D1,2)元<br>
                                间接粉：$mditem.COUNT_D1个。回报：$format_money(mditem.MONEY_D2,2)元<br>
                            </div>
                        </div>
                    </div>
        </div>
        <!--BEGIN toast-->
        <div id="toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast" id="toastSuccess" style="display:none;"></i>
                <i class="weui-icon-warn weui-icon_toast" id="toastError" style="display:none;"></i>
                <p class="weui-toast__content" id="toastMessage">已完成</p>
            </div>
        </div>
        <!--end toast-->
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd" id="dialogMessage"></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>
        <!--END dialog2-->
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/2.3.2/bootstrap.min.js" type="text/javascript"></script>
    <script src="$static_host/static/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
    <script src="$static_host/static/qsnaire.min.js" type="text/javascript" ></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="$static_host/static/weui/zepto.min.js"></script>
    <script src="$static_host/static/weui/weui.min.js"></script>
    <script>
        jQuery(document).ready(function() {
        });
    </script>
    <script type="text/javascript">
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '$pagedata.get("APPID","")', // 必填，公众号的唯一标识
            timestamp: '$signPackage.get("timestamp","")', // 必填，生成签名的时间戳
            nonceStr: '$signPackage.get("noncestr","")', // 必填，生成签名的随机串
            signature: '$signPackage.get("signature","")',// 必填，签名，见附录1
            jsApiList: [
                'checkJsApi',
                'hideAllNonBaseMenuItem'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            wx.hideAllNonBaseMenuItem();
            wx.error(function(res){
                console.log("errorMSG:"+JSON.stringify(res));
            });
        });
    </script>
</body>
</html>
